p {
    text-align: center;
    font-size: 18px;
}

h6 {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
}

a {
    color: black;
}

position {
    margin-right: 30px;
}

position2 {
    margin-right: 150px;
}

#img_container {
    border: 1px solid grey;
    height: 250px;
    width: 500px;
    display: table-cell;
    vertical-align: middle;
}

#img_container img {
    height: 100px;
    margin: auto auto;
    display: block;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 100px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #c231c2;
  }
  
  .button1:hover {
    background-color: #c231c2;
    color: white;
  }

.button2 {
    background-color: white; 
    border: 2px solid #c231c2;
    color: black; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 75%;
    left: 45%;
    transition-duration: 0.4s;
    cursor: pointer;
}

  input {
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: auto;
    display: block;
  }